@page "/admin/cours-collectifs"

<TopBar Title="Cours collectifs" />

<div class="daily-containers">
    <div class="content">
        <div class="row">
            <input type="date" />
            <input type="date" />
            <input type="date" />
        </div>
    </div>
    <div class="attendance-background">
        <div class="attendance-content">
            <div class="row space-between">
                <h2 class="title">APPEL</h2>
                <button class="btn-tertiary">Valider</button>
            </div>
        </div>
    </div>
</div>
