@page "/admin"
@using NecManager.Web.Components

<TopBar Title="Home" IsHome="true" />
<div class="double-container">
    <div class="left-container">
        <WhatNext />
    </div>
    <div class="right-container">
        <NavButtonWithPicture Url="/admin/cours-collectifs" ImgUrl="/images/btn-collectif.png" Title="Cours collectifs" />
        <NavButtonWithPicture Url="/admin/lecons-individuelles" ImgUrl="/images/btn-indiv.png" Title="Leçons individuelles" />
        <NavButtonWithPicture Url="/admin/reglages" ImgUrl="/images/btn-admin.png" Title="Réglages" />
    </div>
</div>

