@using NecManager.Web.Areas.Auth.Components

<CascadingAuthenticationState>
    <TokenStateProvider>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        @if (context.User.Identity != null && context.User.Identity.IsAuthenticated)
                        {
                            <InsufficientRightsRedirect />
                        }
                        else
                        {
                            <RedirectToLogin />
                        }
                    </NotAuthorized>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </TokenStateProvider>
</CascadingAuthenticationState>
