@using NecManager.Web.Service.Identity;
@inherits LayoutComponentBase

<div class="page">
    <main class="main">
        <article>
            @Body
        </article>
    </main>
    <footer>
        <div class="yellow-breaking-div">
            <div class="socials">
                <a href="https://nec-escrime.fr/" target="_blank" title="vers le site internet">
                    <img src="/images/icons/icon-web.png" width="24" height="24" />
                </a>
                <a href="https://www.facebook.com/NECescrime/" target="_blank" title="vers facebook">
                    <img src="/images/icons/icon-facebook.png" width="24" height="24" />
                </a>
                <a href="https://www.instagram.com/necescrime/" target="_blank" title="vers instagram">
                    <img src="/images/icons/icon-instagram.png" width="24" height="24" />
                </a>
                <AuthorizeView>
                    <a title="déconnection">
                        <img src="/images/icons/icon-logout.png" width="24" height="24" onclick="@(() => this.SignoutUser())" />
                    </a>
                </AuthorizeView>
            </div>
        </div>
    </footer>
</div>

@code {
    /// <summary>
    ///     Gets or sets the authorization state provider.
    /// </summary>
    [Inject]
    private ICustomAuthentificationStateProvider AuthState { get; set; } = null!;

    [Inject]
    private NavigationManager NavigationManager { get; set; } = null!;

    private void SignoutUser()
    {
        this.AuthState.LogOutUser();
        this.NavigationManager.NavigateTo("/");
    }
}
