.top-bar{
    background-color: black;
    width: 100vw;
    height: 8rem;
}

.top-bar-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    height: 100%;
    display: flex;
    color: white;
    align-items: center;
    padding-left: 2rem;
}

.top-bar-logo{
    position: absolute;
    top: 2rem;
    right: 2rem;
    height: 58.22px;
}
