.top-bar {
    background-color: black;
    width: 100vw;
    height: 8rem;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.left {
    display: flex;
    align-items: center;
    padding-left: 3rem;
}

::deep .yellow{
    color: #f9f500;
}

.top-bar-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    height: 100%;
    display: flex;
    color: white;
    align-items: center;
    padding-left: 2rem;
    margin-bottom: 0;
}

.top-bar-logo{
    position: absolute;
    top: 2rem;
    right: 2rem;
    height: 58.22px;
}
