<NavLink href="@this.Url" Match="NavLinkMatch.Prefix" class="nav-link">
    <div class="nav-container">
        <span class="nav-title">@this.Title</span>
        <img class="nav-picture" src="@this.ImgUrl"/>
    </div>
</NavLink>


