<div class="what-next">
    <h2>Agenda</h2>
    <div class="agenda">
        @foreach(var agenda in this.Agendas)
        {
            <span>@agenda</span>
        }
    </div>
    <h2>Prochaines Compétitions</h2>
    <div class="competitions">
        @foreach(var competition in this.Competitions)
        {
            <span>@competition</span>
        }
    </div>
</div>


