@page "/"

<TopBar Title="Connexion" />

<div class="d-flex flex-column">
    <NavLink href="/admin" Match="NavLinkMatch.Prefix">Admin</NavLink>
    <NavLink href="/student" Match="NavLinkMatch.Prefix">Student</NavLink>
</div>
