@page "/"
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.Extensions.Logging;
@using NecManager.Web.Areas.Auth.Components
@using NecManager.Web.Areas.Identity.Pages.Account;
@using System.ComponentModel.DataAnnotations;
@using System.Security.Policy;
@using NecManager.Web.Components

<TopBar Title="Connexion" IsBackArrowHidden="true" />

<AuthorizeView>
    <Authorized>
        <UserHomePageRedirect />
    </Authorized>
</AuthorizeView>

<div class="admin-container">
    <Login />
</div>
